:root{
    --backgraund-color:#2D2C29;
    --second-color:#FFD187;
    --text-color:#FFEDD1;
    --white:#fff;

    --blog-yelisay:#FF9D00;
    --blog-owner-color:#FF0;
    --black:#000000;
    --blog-nikita:#440E22;
}
/* .container{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
} */

body{
font-family: "Kanit";
background-color: var(--backgraund-color);
}

/* header */


.logo-text{
color: var(--second-color);
font-family: Kanit;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.link-header{
color: var(--white);
font-family: Kanit;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.header-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 29px;
    
    justify-content: center;
    
}


.header-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    


    
}





.logo-header{
    margin-left: 20px;
}





/* hero-section */

h1{
    color: #FFEDD1;
text-align: center;
font-family: Kanit;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero-text{
    color: #FFEDD1;
text-align: center;
font-family: Kanit;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom:35px ;
}


.background{
    background-image:url(../img/backgraund.png) ;
    background-size: cover;
    margin: 0;
    height: 760px;

    display: flex;
    justify-content: right;
    align-items: end;
    padding: 14px;
}

.hero-pister-egg{
color: #FFD593;
font-family: Kanit;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;

}


/* about */

.about-text{
    color: #FFEDD1;
text-align: center;
font-family: Kanit;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 661px;

margin-bottom: 26px;
}


.about{
    display: flex;
    justify-content: center;
    
}



.about-box{
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-top: 26px;
}


.about-list{
    display: flex;
    gap: 50px;
}


.about-list-item{
    width: 300px;
    height: 400px;
    border-radius: 14px;
    border: 6px solid #FFD593;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.about-item-text{
    color: #FFD593;
text-align: center;
font-family: Kanit;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}